[submodule "BMEdit/GameLib/ThirdParty/ZBinaryIO"]
	path = BMEdit/GameLib/ThirdParty/ZBinaryIO
	url = https://github.com/pawREP/ZBinaryIO
[submodule "BMEdit/GameLib/ThirdParty/json"]
	path = BMEdit/GameLib/ThirdParty/json
	url = https://github.com/nlohmann/json
[submodule "BMEdit/GameLib/ThirdParty/gtest"]
	path = BMEdit/GameLib/ThirdParty/gtest
	url = https://github.com/google/googletest
[submodule "ThirdParty/fmt"]
	path = ThirdParty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "ThirdParty/glm"]
	path = ThirdParty/glm
	url = https://github.com/g-truc/glm
